<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="helloBean" class="com.mkyong.common.SpringExample.HelloWorld">
		<property name="name" value="Mkyong" />
	</bean>

	<bean id="outputHelper" class="com.mkyong.common.SpringExample.OutputHelper">
		<property name="ioutputGenerator" ref="csvOutputGenerator" />
 
	</bean>

	<bean id="csvOutputGenerator" class="com.mkyong.common.SpringExample.CsvOutputGenerator" />
	<bean id="jsonOutputGenerator" class="com.mkyong.common.SpringExample.JsonOutputGenerator" />

</beans>
